<h1>Profile:</h1>

<%# this renders your profile information where it is filled in, otherwise it will not appear until a user edits it to not be blank%>
<div class="card profile-info">
  <p><strong>Name:</strong> <%= @profile.name %> </p>
  <p><strong>User Description:</strong> <%= @profile.description %></p>

  <% unless @profile.about_me.blank? %>
    <p><strong>About me:</strong> <%= @profile.about_me %></p>
  <% end %>

  <% unless @profile.place_of_business.blank? %>
    <p><strong>Place of Business:</strong> <%= @profile.place_of_business%></p>
  <% end %>

  <% unless @profile.skills.blank? %>
    <p><strong>Primary area of work:</strong> <%= @profile.skills %></p>
  <% end %>

  <% if user_signed_in? && current_user.profile == @profile %>
    <%= link_to "edit profile", edit_profile_path(current_user.profile.id) %> 
    <%= link_to "your listings", profile_listings_profile_path(@profile) %>
  <% end %>
</div>

<%#Users may add reviews here%>
<% unless current_user.profile.id == @profile.id %>
<div class="card reviews-container">
  <div class="create-review">
    <p><strong>Add a review:</strong></p>
    <%= render partial: 'reviews/review_form', locals: {profile: @profile, review: @review} %>
  </div>
</div>
<% end %>

  <%# reviews will be listed here%>
  <div class="render-reviews">
    <%= render partial: 'reviews/review', locals: {reviews: @profile.reviews} %>
  </div>
</div>

