<h1>show profile page </h1>
<p>Name: <%= @profile.name %> </p>
<p>Description: <%= @profile.description %></p>
<p>Place of Business: <%= @profile.place_of_business%></p>
<p>About me: <%= @profile.about_me %></p>
<p>Skills: <%= @profile.skills %></p>


<%= link_to "edit profile", edit_profile_path(current_user.profile.id) %>

<%= link_to "your listings", profile_listings_profile_path(@profile) %>

