<h1>Listings Homepage</h1>
<div class="listings-header">
  <div class="logo">
    <%= image_tag "TRADEase.png", alt: "logo", class: "logo" %>
  </div>
</div>


<%#this is the search functionality of the app%>
<%= form_with(scope: :search, url: listings_path, method: 'get', local: true) do |f| %>
  <%= f.label :listing %>
  <%= f.text_field :listing %>
  <%= f.submit %>

  <%= f.label :min_price %>
  <%= f.number_field :min_price %>
  <%= f.label :max_price %>
  <%= f.number_field :max_price %>
  <%= f.submit %>
<% end %>

<%= flash[:unauthorized] %>


<%# link to make a listing on the homepage %>
<%= link_to "make a listing", new_listing_path, class: "btn btn-primary" %>


<%#note that this is the loop to go through the contents of a listing - additionally note that you don't use IV @listings inside of the loop because of the pipes
 so with the image_tag despite using @listing.picture normally, you don't do this here. %>
<% @listings.each do |listing| %>
  <div class="card" style="width: 25rem;">
    <div class="card-body c-body">
      <h5 class="card-title c-title">Listing</h5>
        <%= image_tag listing.picture, class: "card-img-top" if listing.picture.attached? %>
        <p>Posted by: <%= listing.user.username %></p>
        <p>Name: <%= listing.name %></p>
        <p>Price: <%= listing.price %></p>
        <p>Availability: <%= listing.available %></p>
        <%= link_to listing[:name], listing_path(listing[:id]) %>
        <p>Comment Count: <%= listing.comments.count %> </p>
    </div>
  </div>
<% end %>




<%# some code I didn't want to delete yet just in case I broke something else: %>

<%# <%= link_to "become a tradie!", new_tradesman_path %>
<%# <%= link_to "make a listing", new_listing_path %>
<%# <% if current_user.profile.nil? %>
  <%# <%= link_to "make your profile", new_profile_path %>
<%# <% end %>
<%# <% unless current_user.profile.nil? %>
  <%# <%= link_to "your profile", profile_path(current_user.profile.id) %>
<%# <% end %> 
