<h1>Listing:</h1>

<div class="card show-card-container">
  <p>listing: <%= @listing.name %></p>
  <p>price: <%= @listing.price %></p>
  <p>available: <%= @listing.available %></p>
  <p>description: <%= @listing.description %></p>
  <%= image_tag @listing.picture if @listing.picture.attached? %>
</div>

<%# if the current user's listing including the instance variable of the currently shown listing then render the edit and delete %>
<% if user_signed_in? && current_user.listings.include?(@listing) %> 
  <p><%= link_to 'Edit', edit_listing_path %></p>
  <p><%= link_to 'Delete', listing_path, method: :delete %></p>
<% end %>


<%# this will be where stripe payment will go%>

<button data-stripe="payment", id="stripe">Safe pay</button>
<p>We offer payment facilities and will transfer the funds safely to the other party to the transaction, minus our usage fee</p>

<%# this is how to render the amount of comments on a listing %>
<p>comment count: <%= @listing.comments.count %></p>

<%#this is what renders the comments, collection means use this partial but use for this array of things %>
<div class="comments-container">
  <%= render partial: "comments/comment", collection: @listing.comments %>
</div>

<%#requires a different path as the comment form exists in a different folder (comments), and not listing where the form is displayed%>

<% if current_user.tradesman || @listing.user_id == current_user.id %>
  <div class="new-comment">
    <%= render 'comments/comment_form', comment: @comment %>
  </div>
  <% else %>
    <p><strong>You must be a certified tradie to respond to other people's listings!</strong></p>
<% end %>


<%= javascript_pack_tag "stripe" %>