<h1>individual listing </h1>

<p>listing: <%= @listing.name %></p>
<p>price: <%= @listing.price %></p>
<p>available: <%= @listing.available %></p>
<p>description: <%= @listing.description %></p>

<%# if the current user's listing including the instance variable of the currently shown listing then render the edit and delete %>
<% if user_signed_in? && current_user.listings.include?(@listing) %> 
  <p><%= link_to 'Edit', edit_listing_path %></p>
  <p><%= link_to 'Delete', listing_path, method: :delete %></p>
<% end %>
