<p>Hi <%= current_user.username %></p>

<div>
  <%= form_with(scope: :review, url: profile_reviews_path(profile), local: true) do |form| %>
  <div class="form-group">
    <%= form.label :body %>
  </div>
  <div class="form-group">
    <%= form.text_field :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :stars %>
  </div>
  <div class="form-group">
    <%= form.number_field :stars %>
  </div>
    <%= form.submit id: "submit" %>
  <% end %>
</div>



